.login-form {
    top     : calc(50% - 106px);
    position: relative;
}

input {
    margin    : 6px;
    width     : 90%;
    transition: width 1s ease-in-out;
    outline   : none;
    background: lightgray;
    border    : 0px solid white;
}


.switchToSignup {
    margin-top: 1rem;
    border-top: 1px solid rgb(187, 194, 220);
}

.switchToSignup span {
    display    : inline-block;
    margin-left: 85px;
}

.switchToSignup p {
    display    : inline-block;
    padding-top: 14px;
}

.login-fotpas {
    position    : relative;
    width       : 150px;
    margin      : 10px auto;
    margin-right: 0;
}

.login-fotpas {
    color     : white;
    text-align: right;
    cursor    : pointer;
}

.login-btn {
    margin-top: 0.7rem;
}

.SignIn .title-box {
    min-height : 0px;
    line-height: 0;
}


.SignIn .login-fotpas {
    font-size: 10px;
}

.SignIn .other-signup-field>span {
    margin: 10px 0;
}

.SignIn .switchToSignup {
    padding        : 0;
    display        : flex;
    justify-content: space-between;
}

.SignIn .switchToSignup p,
.SignIn .switchToSignup a {
    padding       : 0;
    vertical-align: middle;
}

.SignIn .Signup {
    top: 54%;
}



.warningDiv {
    height    : 20px;
    color     : red;
    font-size : 11.5px;
    text-align: justify;
    opacity   : 0;
    width     : 50%;
}

.warningDiv.errorMessage {
    margin       : 0;
    color        : red;
    opacity      : 1;
    width        : 100%;
    border-bottom: 2px solid red;
    transition   : opacity 1s ease-in-out;
}

.inputWarning {
    margin     : 0;
    margin-left: 10px;
    width      : 55%;
    font-size  : 13px;
    height     : 25px;
}


.font--red.inputWarning {
    color        : red;
    font-size    : 13px;
    width        : 95%;
    border-bottom: 1px solid red;
    transition   : all 1s ease-in-out;
}

.font--green.inputWarning {
    color        : green;
    font-size    : 13px;
    width        : 95%;
    border-bottom: 1px solid green;
    transition   : all 1s ease-in-out;
}


.color--red {
    border: 2px solid red;
}


.color-green {
    border: 3px solid green;
}