.BodyBoder {
    background-color: royalblue;
    margin-top      : 10%;
}


.BodyBoder ul li {

    flex-basis: 100px;
    text-align: center;
}


.BodyBoder .weekday ul {
    list-style     : none;
    padding        : 0px;
    display        : flex;
    flex-direction : row;
    justify-content: space-around;
}



.BodyBoder .CalendarDay ul {

    flex-wrap     : wrap;
    list-style    : none;
    padding       : 0;
    display       : flex;
    flex-direction: row;
}



.BodyBoder .CalendarDay ul li {

    flex-basis    : 114px;
    padding-bottom: 60px;
}


.scheduleMarked {
    background-color: greenyellow;
}