html {
    perspective: 600px;
}

.fade-exit {
    opacity: 1;
    transform: translateZ(-350px) translateX(0px) rotateY(0deg);
}

.fade-exit.fade-exit-active {
    opacity: 0;
    transform: translateZ(-350px) translateX(-850px) rotateY(-90deg);
    transition: all 1000ms ease-in;
}

.fade-enter {
    opacity: 0;
    transform: translateZ(-650px) translateX(850px) rotateY(90deg);
}

.fade-enter.fade-enter-active {
    opacity: 1;
    transform: translateZ(0px) translateX(0px) rotateY(0deg);
    transition: all 1000ms ease-in 1s;
}





.ll-exit {
    opacity: 1;
}

.ll-exit.ll-exit-active {
    opacity: 1;
}