html {
    perspective: 3000px;
}

.fade-exit {
    opacity: 1;
    transform: translateX(0px);
}

.fade-exit.fade-exit-active {
    opacity: 0;
    transform: translateX(-450px) rotateY(-90deg);
    transition: all 1000ms ease-in;
}

.fade-enter {
    opacity: 0;
    transform: translateX(450px) rotateY(90deg);
}

.fade-enter.fade-enter-active {
    opacity: 1;
    transform: translateX(0px) rotateY(0deg);
    transition: all 1000ms ease-in 1s;
}