.App {
  /* text-align: center; */
  overflow:auto;
}

.wrapper{
  width: 1024px;
  height:700px;
  border: 1px solid red;
  /* background-color: #cccccc; */
}

.header{
   display: flex;
   /* justify-content: space-around; */
}

.header_left{
  /* flex-grow:1; */
  background-color: blanchedalmond;
  /* height: 50px; */
}

.btn{

  background-color: blueviolet;
  margin-left: 40px;
}

.cardbody{
  width: 600px;
  height: 400px;
  /* background-color: aquamarine; */
  margin-left:  180px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  overflow:auto;
  border: 2px solid grey;
  border-radius: 4%;
}

.line1{
  background-image:linear-gradient(to bottom, rgba(240, 238, 241, 0.5), rgba(221, 133, 248, 0.5)),url("https://www.timeanddate.com/scripts/cityog.php?title=Past%20Weather%20in&tint=0x007b7a&city=Paris&state=%C3%8Ele-de-France&country=France&image=paris1");
  background-size: cover;
  flex-grow: 7;
  display: flex;
  flex-basis:0%;
  color: silver;
}

.line2{
  background-color: white;
  flex-grow: 7;
  display:flex;
  overflow:auto;
  flex-basis:0%;
}

.line3{
  background-color: white;
  flex-basis: 8%;

}

.line1_left{
  /* background-color:rgb(243, 108, 108); */
  flex-grow: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-basis:0%;
  font-family: Arial, Helvetica, sans-serif;
  
}

.line1_right{
  /* background-color:white; */
  flex-grow: 5;
  flex-basis:0%;
}

/* 为什么line1_left_top不能写在第一个？ */
.line1_left_mid{
  /* background-color:black; */
  flex-grow:1;
  flex-basis:0%;
  text-align: center;
  font-size: 20px;
  line-height: 17px;
  
}
.line1_left_bottom{
  /* background-color: cyan; */
  flex-grow:3;
  display:flex;
  flex-basis:0%;
  /* font-size: 30px; */
}

.line1_left_top{
  /* background-color: rgb(15, 13, 11); */
  flex-grow:5;
  flex-basis:0%;
  display:flex;
  justify-content: center; 
  font-size: 60px; 
} 

.line1_left_blank{
  width: 20px;
  height:20px;
  flex-basis:0%;
}
.line1_left_top-temperature{
  display: inline-block;
  width: max-content;
  /* padding-top: 15px; */
}
.number{

  display: inline-block;
  font-size: 100px; 

}

.degreeOperator{
  display: inline-block;
  vertical-align:top;
  width:max-content;
  height:40px;
  overflow: auto;
  font-size: 80px; 
  line-height: 10%;
  /* margin:auto; */
  /* text-align: center; */
}

/* border出不来。。为啥呢？？ */
.line1_left_bottom-humi{
  /* background-color: cadetblue; */
  flex-grow:1;
  flex-basis:0%;
  border-right: 3px solid silver;
  text-align: center;
}
.line1_left_bottom-wind{
  /* background-color:red; */
  flex-grow:1;
  flex-basis:0%;
  /* border-left-style: solid ; */
  text-align: center;
}


.line2_left{
  background-color:white;
  flex-grow: 3;
  display:flex;
  flex-direction: column;
  flex-basis:0%;
  /* border-right: 4px solid silver; */
  font-size: 12px;
}

.line2_right{
  background-color:white;
  flex-grow: 5;
  flex-basis:0%;
}

/* line2 element */


.line2_left .line2_left_top{
  flex-grow: 1;
  background-color: white;
  flex-basis:0%;
  border-right: 2px solid silver;

}

.line2_left_mid{
  flex-grow: 1;
  background-color: white;
  flex-basis:0%;
  border-right: 2px solid silver;
  font-size: 12px;
  color: grey;

  display: flex;
  /* flex-direction: column; */
}
.blue_circle{
  text-align: center;
  flex-basis: 20%;
}

.line2_left .line2_left_bottom{
  flex-grow: 1;
  background-color: white;
  flex-basis:0%;
  border-right: 2px solid silver;
  font-size: 12px;
  color: grey;
  display: flex;
}

.blue_circle{
  text-align: center;
  flex-basis: 15%;
}

.wenzi{
  
}

.line2_right_content{
  /* width: 200px; */
  text-align: center;
  /* padding:80px; */
  /* height: 140px; */
  margin-left:5px;
  /* border-left-style: 4px solid white; */
  background-color: white;
  overflow: auto;
  padding: 5px;
  font-size: 12px;
}

.td{
  width:70px;
  overflow:auto;
  margin:0;
}

.weatherPattern, .weekDays, .degree{
  height: 55px;
  background-color: white;
}

.degreeNum{
  margin:0;
}

.line3{

  height: max-content;
}

.weather_icon{

  font-size: 50px;
}

.degreeNum{

  font-size: 15px;
  
}
.line3_nextButton{

  font-size: 12px;
  margin-left: 70px;

}