body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff;
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/44521/light_minimalistic_soft_shading_gradient_background_1024x768_58884.jpg");
    background-size: cover;
}

#root {
    /* position: relative; */
    width: 100%;
    height: auto;
}

NextPage {
    width: 100%;
    padding: 1rem;
    font-size: 2rem;
    line-height: 2rem;
}

WeatherCard {
    padding: 1rem;
}

.clock {
    background-color: #222222;
    position: fixed;
    opacity: 0.5;
    color: whitesmoke;
    height: 30px;
    margin: auto;
    text-align: center;
    padding: 2% 0;
    z-index: 1000;
    width: 100%;
}

.SlideIcon {
    background-color: transparent;
    border-radius: 50%;
    border-style: none;
    outline: none;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1003;
}


/* .NavBarContainer {
     position: fixed;
    height: 100%;
    background-color: transparent;
    z-index: 1001;
   width: 100%;
     display: none;
     .NavBackground {
        position: fixed;
       height: 100%;
       background-color: lightgrey;
         z-index: 1001;
        width: 100%;
        opacity: 0.4;
    }
    .SlideBar {
        z-index: 1002;
        position: absolute;
        background-color: rgb(53, 42, 73);
        height: 100%;
        width: 20rem;
        h2,
        h5 {
            text-align: center;
             color: whitesmoke;
        }
        .ProfileImage {
             width: 150px;
            height: 150px;
             background-color: aqua;
             margin: auto;
             border-radius: 50%;
            margin-top: 100px;
        }
         p {
             text-align: center;
             margin: 0;
            color: whitesmoke;
         }
    }
 }
 login-in page/////////////////////////
.login-wrapper {
    height: 100%;
     background-color: black;
     z-index: 1006;
     width: 100%;
     opacity: 0.9;
     position: fixed;
 }

.login-card {
    opacity: 1;
    width: 300px;
    height: 400px;
    background-color: rgb(53, 42, 73);
    z-index: 1010;
    position: absolute;
    left: calc(50% - 150px);
    top: calc(50% - 200px);
    .login-form {
        position: absolute;
        left: calc(50% - 86.5px);
        top: calc(50%);
    }
    input {
        margin: 6px;
        width: 150px;
        transition: width 1s ease-in-out;
    }
    input:not(.submit):focus {
        width: 200px;
        border-color: indigo;
    }
}

//Loading page//
#loader-wrapper {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1019;
    background-color: lightgrey;
    opacity: 0.7;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    #loader {
        display: block;
        position: absolute;
        left: 50%;
        top: 300px;
        width: 150px;
        height: 150px;
        margin: -75px 0 0 -75px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: #3498db;
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
        z-index: 1030;
    }
    #loader:before {
        content: "";
        position: absolute;
        top: 10px;
        left: 5px;
        right: 5px;
        bottom: 5px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: #e74c3c;
        -webkit-animation: spin 3s linear infinite;
        animation: spin 3s linear infinite;
    }
    #loader:after {
        content: "";
        position: absolute;
        top: 15px;
        left: 15px;
        right: 15px;
        bottom: 15px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: #f9c922;
        -webkit-animation: spin 1.5s linear infinite;
        animation: spin 1.5s linear infinite;
    }
    @keyframes spin {
        0% {
            -webkit-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(360deg);
            -ms-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }
}  */


/* //The card part: */


/* 
.cardFrame {
    width: 100%;
    background-color: transparent;
    height: auto;
    position: relative;
} */


/* 
 &::after {
     content: '';
     display: table;
     clear  : both;
 } */


/* .cardFrame>.card_calender {
    position: absolute;
    width: 800px;
    height: 600px;
    margin: 0 auto;
    top: 50%;
    left: calc(50%-400px);
    z-index: 1001;
    background-color: blue;
} */


/* .cardFrame {
    width: 100%;
    background-color: transparent;
    height: auto;
    position: relative;
  
    
    .card_weather {
        margin: auto;
        width: 800px;
        border: 1px solid #fff;
        display: flex;
        flex-direction: column;
        height: 600px;
        font-size: 1rem;
        position: fixed;
        top: 3rem;
        left: 15rem;
        z-index: 1000;
        box-shadow: 0px 2px 10px 1px;
        border-radius: 10px;
        //////////////////////////////Weather /////////////////////////////////////
        &:hover {
            transform: translateY(-10px);
        }
        &_currentWeather {
            flex-grow: 1;
            display: flex;
            flex-basis: 0;
            border-bottom: 2px solid #ddd;
            overflow: auto;
            background-image: linear-gradient(to bottom, rgba(255, 255, 0, 0.5), rgba(0, 0, 255, 0.5)), url("http://hdwpro.com/wp-content/uploads/2018/07/Cool-Paris-Wallpaper.jpg");
            background-size: cover;
            background: linear-gradient(bottom, rgba(255, 0, 0, 0.1), rgba(255, 0, 0, 0.1));
            // position: relative;
            border-radius: 10px;
            &:before {
                content: "";
                position: absolute;
                border-right: 3px solid #ddd;
                width: 243px;
                height: 200px;
                margin-top: 45px;
            }
            &_info {
                flex-basis: 30%;
                // border-right:2px solid white;
                position: relative;
                padding: 1rem;
                text-transform: uppercase;
                color: whitesmoke;
                &:before {
                    content: "";
                    position: absolute;
                    border-bottom: 3px solid #ddd;
                    width: 243px;
                    height: 200px;
                    margin-top: 90px;
                }
                .celsius {
                    width: 20px;
                    height: 20px;
                    border: 2px solid white;
                    border-radius: 50%;
                    position: absolute;
                    top: 2.6rem;
                    left: 9.4rem;
                }
                >h1 {
                    font-size: 5rem;
                    margin-left: 3rem;
                    margin-top: 2rem;
                    &:before {
                        content: "";
                        position: absolute;
                        width: 110px;
                        height: 100px;
                        border-bottom: 2px solid #ddd;
                    }
                }
                span {
                    font-size: 0.8rem;
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                }
                ul {
                    margin-top: 40px;
                    display: flex;
                    flex-direction: row;
                    padding-left: 0;
                    // margin-top: 9rem;
                    &:before {
                        content: "";
                        position: absolute;
                        border-right: 2px solid #ddd;
                        width: 105px;
                        height: 40px;
                    }
                    li {
                        list-style: none;
                        font-size: 0.9rem;
                        flex-grow: 1;
                        text-align: center;
                        flex-basis: 0;
                        >h1 {
                            font-size: 0.6rem;
                        }
                    }
                }
            }
            &_country {
                flex-basis: 70%;
                text-align: right;
                .btn_nextPage {
                    position: absolute;
                    margin-top: 7rem;
                    margin-left: -3rem;
                    font-size: 4rem;
                    background-color: transparent;
                    border-radius: 50%;
                    border-style: none;
                    outline: none;
                    color: antiquewhite;
                    opacity: 0.4;
                }
                h1 {
                    color: whitesmoke;
                    line-height: 100px;
                    &::before {
                        content: "";
                        width: 90px;
                        height: 2px;
                        border-bottom: 4px solid antiquewhite;
                        position: absolute;
                        top: 4.7rem;
                    }
                }
            }
        }
        
        &_details {
            flex-grow: 1;
            flex-basis: 0;
            overflow: auto;
            display: flex;
            background-color: whitesmoke;
            // background-color: lightgray;
            border-radius: 10px;
            &:before {
                content: "";
                position: absolute;
                border-bottom: 3px solid #ddd;
                width: 160px;
                height: 40px;
                margin-top: 2.3rem;
                left: 0.8rem;
            }
            &_currentNews {
                flex-basis: 30%;
                // border-right:2px solid white;
                padding-left: 0px;
                display: flex;
                flex-direction: column;
                margin-bottom: 1px;
                &_title {
                    display: flex;
                    font-size: 0.8rem;
                    flex-grow: 1;
                    flex-basis: 0;
                    svg {
                        align-self: center;
                        margin-left: 100px;
                    }
                    h1 {
                        margin-bottom: 0;
                        line-height: 50px;
                        font-size: 0.9rem;
                        // vertical-align: middle;
                        align-self: center;
                    }
                }
                &_post {
                    flex-grow: 1;
                    display: flex;
                    align-content: space between;
                    // position:relative;
                    flex-basis: 0;
                    p1 {
                        flex-basis: 25%;
                    }
                    &::before {
                        content: "";
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        background-color: rgb(151, 199, 241);
                        // border-bottom: 4px solid silver;
                        position: absolute;
                        margin-top: 1.4rem;
                        margin-left: 0.4rem;
                    }
                    p2 {
                        flex-basis: 75%;
                        font-size: 0.8rem;
                        align-self: center;
                        // text-align: center;
                        padding-left: 3rem;
                        margin-left: 1rem;
                    }
                }
                button {
                    background-color: transparent;
                    border-radius: 50%;
                    border-style: none;
                    outline: none;
                    z-index: 1003;
                }
            }
            
            &_forcastWeather {
                flex-basis: 70%;
                display: flex;
                // height: 100%;
                text-transform: uppercase;
                margin-top: 10px;
                width: 100%;
                padding-left: 0px;
                overflow: hidden;
                // background-color: lightgray;
                &:before {
                    content: "";
                    position: absolute;
                    border-left: 3px solid darkgray;
                    width: 118px;
                    height: 240px;
                    margin-top: 12px;
                }
                li {
                    list-style: none;
                    flex-grow: 1;
                    text-align: center;
                    // height: 200px;
                    padding: 25px;
                    padding-left: 20px;
                    h1 {
                        font-size: 2rem;
                    }
                    h5 {
                        font-size: 1.3rem;
                        margin-bottom: 1rem;
                    }
                    svg {
                        font-size: 3.5rem;
                        margin-bottom: 1rem;
                        margin-top: 1.5rem;
                        color: darkgrey;
                    }
                    small {
                        font-size: 0.6rem;
                    }
                    .degree {
                        margin: 0px;
                    }
                }
            }
        }
    }
} */