body {
    margin: 0;
      font-family: Arial, Helvetica, sans-serif;
      background-color: #fff;
      background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/44521/light_minimalistic_soft_shading_gradient_background_1024x768_58884.jpg");
      background-size: cover;
  }
  
  header {
      width: 100%;
      padding: 1rem;
      font-size: 2rem;
      line-height: 2rem;
  }
  
  main {
      padding: 1rem;
  }

.card{
    margin:auto;
    width:800px;
    background-color:grey;
    border: 1px solid #fff;
    display: flex;
    flex-direction: column;
    height: 600px;
    font-size: 1rem;

    &_currentWeather{

        flex-grow:1;
        display: flex;
        flex-basis:0;
        border-bottom: 2px solid #ddd;
        overflow: auto;
        background-image: linear-gradient(to bottom, rgba(255,255,0,0.5), rgba(0,0,255,0.5)),url("http://hdwpro.com/wp-content/uploads/2018/07/Cool-Paris-Wallpaper.jpg");
        background-size:cover;
        background: linear-gradient(bottom, rgba(255, 0, 0, 0.1), rgba(255, 0, 0, 0.1));
        // position: relative;

            &_info{
                flex-basis: 30%;
                border-right:2px solid white;
                position: relative;
                padding: 1rem;
                text-transform: uppercase;
                color: whitesmoke;
    
                .celsius{
                    width: 20px;
                    height: 20px;
                    border: 2px solid white;
                    border-radius: 50%;
                    position: absolute;
                    top: 2.3rem;
                    left: 5.5rem;
                }

                > h1 {
                    font-size: 5rem;
                    margin-left: 3rem;
                    margin-top: 2rem;

                    &:before{

                        content: "";
                        position: absolute;
                        width: 110px;
                        height: 100px;
                        border-bottom: 2px solid #ddd;
			        }
                }

                > p {
                    margin-left: 4.5rem;
                }

                ul{
                    display: flex;
                    flex-direction: row;
                    padding-left: 0;

                    li{
                        list-style: none;
                        font-size: 0.9rem;
                        flex-grow:1;
                        text-align: center;
                        flex-basis:0;

                        > h1 {
                            font-size: 0.6rem;
                            
                        }
                    }
                }               
            }
            &_country{
                flex-basis: 70%;
                text-align: right;
                
                h1{
                    color: whitesmoke;
                    line-height: 100px;

                    &::before{
                        content: "";
                       width: 125px;
                       height:2px;
                       border-bottom: 4px solid silver;
                       position: absolute;
                       top: 4.7rem;
                       
                    }
                }
            }

    }

    &_details{
        flex-grow:1;
        flex-basis:0;
        overflow: auto;
        display: flex;
        background-color: whitesmoke;
        
            &_currentNews{
                flex-basis: 30%;
                border-right:2px solid white;
                padding-left:0px;
                display:flex;
                flex-direction: column;
                margin-bottom: 1px;
                

                &_title{
                    display: flex;
                    font-size: 0.8rem;
                    flex-grow:1;
                    vertical-align: middle;
                    line-height:100px;

                    h1{
                        margin-bottom: 0;
                        line-height:50px;
                        font-size: 0.9rem;
                        vertical-align:middle;
                    }
                }

                &_post{
                    flex-grow:1;
                    display: flex;
                    align-content: space between;
                    // position:relative;
                        
                    h2{ 
                        width: 30px;
                        height:30px;
                        border-radius: 50%;
                        background-color: rgb(151, 199, 241);
                        // flex-basis:30%;
                        position:absolute;
                        left: 1.4rem;
                        // bottom: 40px;
                       
                    }
                    p1{
                        flex-basis:25%;
                        
                    }
                    p2{
                        flex-basis:75%;
                        font-size: 0.8rem;
                    }


                }

            }

            &_forcastWeather{
                flex-basis: 70%;
                ul{
                    display: flex;
                    // height: 100%;
                    text-transform: uppercase;
                    margin-top: 30px;
                    width: 100%;
                    padding-left: 0px;
                    
                    li{
                        list-style: none;
                        flex-grow:1;
                        text-align: center;
                        // height: 200px;
                        padding: 20px;
                        padding-left: 20px;
                        h1 {
                            font-size: 1.5rem;
                            margin-bottom: 1rem;
                        }
                        svg {
                            font-size: 3rem;
                            margin-bottom: 1rem;
                        }
                        small {
                            font-size: 0.75rem;
                        }
                        .degree{
                            margin:0px;
                        }
                    }
                }
            }   
        }
                         
    }
    





